

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

h2
{

    text-align: center;
}

h3

{

    text-align: center;
}



figcaption
{
    text-align: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}


.resized-image

{


width: 300px;
height: auto;

}

figure

{
    text-align: center;
}

p

{
font-family: 'Atkinson Hyperlegible', sans-serif;
}

ul
{
    font-family: 'Atkinson Hyperlegible', sans-serif;   
}